* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f8ecdb;
    width: 100%;
}

main {
    width: 100%;
}

.img {
    width: 10%;
    height: 10%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #251d6f;
    font-size: 25px;
    padding-top: 3%;
    gap: 5%;
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

p { 
    font-family: "kepler-std", serif;
    font-weight: 400;
}

a {
    color: white;
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: normal;
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 25px;
}

h2 {
    display: flex;
    font-family: "kepler-std", serif;
    font-weight: 700;
    justify-content: space-around;
    font-size: 40px;
    color: rgb(70, 61, 116);
    text-align: center;
    margin: 10px

}





/* images coding */

.story-img {
    display: flex;
    gap: 4rem; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 20px auto;
  }

  .row-img {
        width: 100px; /* control size here */
        height: auto;
        border-radius: 8px; 
  }

  .solid-border {
    margin-top: 5rem;
    border: 1px solid #ddd;
  }


  html {
    background-color: #f8ecdb;

}

a {
    color: #ffffff;
}


h1 { 
    display: flex;
    font-family: "kepler-std", serif;
    font-weight: 700;
    justify-content: space-around;
    color: rgb(70, 61, 116);
}

footer { 
    background-color: #1d165b;
    color: white;
    margin-top: 10%;
}

.bottom {
    text-align: center;
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}