* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
}

html, body {
    background-color: #f8ecdb;
    height: 100%;
  }

main {
    width: 100%;
}

.logo {
    width: 10%;
    height: 10%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #251d6f;
    font-size: 25px;
    padding-top: 3%;
    gap: 5%;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.navbar img {
    width: 10%;
    height: 10%;
    padding-bottom: 2%;
    padding-left: 2%;
}

a {
    color: white;
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 25px;
}

h1 { 
    display: flex;
    font-family: "kepler-std", serif;
    font-weight: 700;
    justify-content: space-around;
    font-size: 40px;
    color: rgb(70, 61, 116);
    text-align: center;
}

h2 {
    display: flex;
    font-family: "kepler-std", serif;
    font-weight: 700;
    justify-content: space-around;
    font-size: 20px;
    color: rgb(70, 61, 116);
    text-align: center;
    margin: 10px

}




/* images coding */

.story-img {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-left: 20%;
   padding-right: 20%;
  }

 .ig {
    width: 200%;
 }

  .social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-item img{
   width: 70px;
   height: auto;
  }

  .social-item img[alt="X"]:hover{
    transform: scale(1.2);
    transition-duration: .5s;
   }

   .social-item img[alt="instagram"]:hover{
    transform: scale(1.2);
    transition-duration: .5s;
   }

  .social-item a {
    color: rgb(70, 61, 116);
  }


 .row-img {
    width: 100px; /* control size here */
    height: auto;
    border-radius: 8px; 
  }

  .solid-border {
    border: 1px solid #ddd;
    margin-top: 5%;
  }



.contact-info{
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    color: rgb(70, 61, 116);
    text-decoration: none;
    padding-top: 4.1%;
}

.contact-info a {
    display: inline;
    color: rgb(70, 61, 116);
    text-decoration: none;
}

.contact-info h2 {
    display: inline-block;
    position: relative;
}

.contact-info h2:hover {
    display: inline-block;
    transform: scale(1.2);
    transition-duration: .5s;
}


footer { 
    background-color: #251d6f;
    color: white;
    margin-top: 7%;

}

.bottom {
    text-align: center;
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}