* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    font-size: 25px;
    padding: 3rem 7rem;
    gap: 9rem;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.Info-no1 {
    font-family:  'Roboto', sans-serif;
    font-size: 18pt;
    height: 500px;
    width:80%;
    border: 4px solid purple; 
    display: flex;
    justify-content: center;
   
}

.Info-no2 {
    font-family:  'Roboto', sans-serif;
    font-size: 18pt;
    height: 500px;
    width:80%;
    border: 4px solid purple; 
    display: flex;
    justify-content: center;
   
}