* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    font-size: 25px;
    padding: 3rem 7rem;
    gap: 9rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

h2 {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
        font-weight: 500;
        color: rgb(70, 61, 116);
        text-align: center;
        margin: 10px
    }


.Info-no1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    height: 500px;
    width: 80%;
    border: 4px solid purple;

    justify-content: center;

}



.Info-no2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    height: 500px;
    width: 80%;
    border: 4px solid purple;
    display: flex;

}

.Info-no3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    height: 1, 000px;
    width: 80%;
    border: 4px solid purple;


}

.Info-no4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    height: 1, 000px;
    width: 80%;
    border: 4px solid purple;
  


}